RewriteEngine On
Options +FollowSymLinks

RewriteRule assets/(.*) out/assets/$1

# Prevent the user from hitting any page other than index.php or files inside the public directory.
RewriteCond %{REQUEST_FILENAME} !(/out/assets/)
RewriteRule ^.*$ index.php [NC,QSA]